language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

branches:
  only:
    - master

env:
  - SYMFONY_VERSION=2.3.*

matrix:
  allow_failures:
    - php: 7.0
    - php: hhvm

before_script:
  - phpenv config-add travis.php.ini
  - composer self-update
  - composer require symfony/symfony:${SYMFONY_VERSION} --prefer-dist